<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <img src="{{site.baseurl}}/assets/img/husky.png" class="logo-img" >
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}YUE  WEN{% endif %}</a> 
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
      <li class="menu-items"><a class="menu-links" href="https://github.com/zywok/">Github project</a></li>
      <li class="menu-items"><a class="menu-links" href="https://github.com/zywok/zywok.github.io/blob/main/assets/CV-Zhu%20Yuewen.pdf">Personal Resume</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://github.com/zywok/zywok.github.io/blob/main/assets/img/weixin.jpg" class="social-links"><i class="social-icons fa fa-weixin" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://scholar.google.com/citations?user=-99CgHMAAAAJ&hl=zh-CN" class="social-links"><i class="social-icons fa fa-google" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://www.youtube.com/channel/UCEL2_g0S62n-I-cEqLcv6jQ" class="social-links"><i class="social-icons fa fa-youtube" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
